h2 {
  text-align: center;
  margin-top: 20px;
}

.expenses-wrapper {
  padding: 20px;
}

.expenses-form {
  padding: 15px 0;
}

.expenses-table {
  width: 500px;
}

.expenses-total {
  margin-top: 20px;
}
